.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.pre-footer {
    padding: 30px 0 10px;
    background-color: lighten($footerBgColor, 10%);
    text-align: center;
    color: white;
    
    a, h6 {
        color: white;
    }
    
    ul {
        list-style: none;
    }
    
    .button-small {
        &:hover {
            color: white;
        }
    }
}

.copyright {
    padding: 14px 0;
    background-color: $footerBgColor;
    text-align: center;
    color: $footerFontColor;

    a {
        color: $footerFontColor;
        text-decoration: underline;

        &:hover {
            color: $footerLinkColorActive;
        }
    }
}